# Assignment 4

This assignment is all about creating, updating, and querying relational databases using SQL, and in particular, the Python module **sqlite3**

In [44]:
import sqlite3

# Question 1 (4 marks)

### Q1.a (1 mark)

Create a new database called "marks.db".  The database will contain the marks got by a cohort of students in a set of modules.

In [10]:
conn = sqlite3.connect('marks.db')

### Q1.b (1 mark)

Create the following three tables in the database "marks.db":

- A table "students", consisting of two columns: "student_id", "name"
- A table "modules", consisting of two columns: "module_id", "module_name"
- A table "marks", consisting of two three columns: "student_id", "module_id", "mark"

Please note that "student_id" and "module_id" are integer numbers, "name" and "module_name" are strings, and "mark" is an integer between 0 and 100.

In [45]:
co = conn.cursor()

co.execute('''CREATE TABLE IF NOT EXISTS students(
    student_id integer PRIMARY KEY,
    name text
);''')

co.execute('''CREATE TABLE IF NOT EXISTS modules(
    module_id integer PRIMARY KEY,
    module_name text
);''')

co.execute('''CREATE TABLE IF NOT EXISTS marks(
    student_id integer,
    module_id integer,
    mark integer
);''')

conn.commit()

### Q1.c (1 mark)

Insert at least three (3) students in the "students" table, at least four (4) modules in the "modules" table, and at least ten (10) marks in the "marks" table, ensuring that the student_ids and module_ids are used consistently.

In [46]:
#Students
co.execute("INSERT INTO students VALUES ('1','Abbas Mahmood')")
co.execute("INSERT INTO students VALUES ('2','Jane Joe')")
co.execute("INSERT INTO students VALUES ('3','Steven Adams')")

conn.commit()

IntegrityError: UNIQUE constraint failed: students.student_id

In [47]:
#Modules
co.execute("INSERT INTO modules VALUES ('765', 'Storing, Manipulating, and Visualising data')")
co.execute("INSERT INTO modules VALUES ('794', 'Probability and Statistics')")
co.execute("INSERT INTO modules VALUES ('792', 'Financial Data Analytics')")
co.execute("INSERT INTO modules VALUES ('791', 'Computational Statistics with R')")

conn.commit()

IntegrityError: UNIQUE constraint failed: modules.module_id

In [351]:
#Marks for Abbas
co.execute("INSERT INTO marks VALUES ('1', '765', 100)") #hopefully!
co.execute("INSERT INTO marks VALUES ('1', '792', 68)")
co.execute("INSERT INTO marks VALUES ('1', '791', 75)")
co.execute("INSERT INTO marks VALUES ('1', '794', 58)")
#Marks for  Jane
co.execute("INSERT INTO marks VALUES ('2', '765', 60)")
co.execute("INSERT INTO marks VALUES ('2', '792', 59)")
co.execute("INSERT INTO marks VALUES ('2', '791', 70)")
co.execute("INSERT INTO marks VALUES ('2', '794', 39)")
#Marks for  Steven 
co.execute("INSERT INTO marks VALUES ('3', '765', 65)")
co.execute("INSERT INTO marks VALUES ('3', '792', 82)")
co.execute("INSERT INTO marks VALUES ('3', '791', 67)")
co.execute("INSERT INTO marks VALUES ('3', '794', 45)")

conn.commit()

### Q1.d (1 mark)

Retrieve and print the list of all the modules you have inserted.

In [51]:
co.execute('''SELECT * FROM modules''')
print(co.fetchall())

[(765, 'Storing, Manipulating, and Visualising data'), (791, 'Computational Statistics with R'), (792, 'Financial Data Analytics'), (794, 'Probability and Statistics')]

In [52]:
conn.close()

# Question 2 (6 marks)

In this question, you will query an existing database, that contains information about dialogs in more than 600 movies. The database consists of six (6) tables: 

- movies
- characters
- conversations
- lines
- genres
- movie_genre_linking

A detailed description of the columns of each table is provided in the file "README.txt".

### Q2.a (1 mark)

Connect to the database "movie_lines.db".

In [53]:
conn = sqlite3.connect('movie_lines.db')

### Q2.b (1 mark)

Retrieve and print the list of genres.

In [54]:
co = conn.cursor()

co.execute('''SELECT * FROM genres''')
co.fetchall()

[(1, 'family'),
 (2, 'fantasy'),
 (3, 'western'),
 (4, 'sport'),
 (5, 'biography'),
 (6, 'crime'),
 (7, 'romance'),
 (8, 'animation'),
 (9, 'music'),
 (10, 'comedy'),
 (11, 'war'),
 (12, 'sci-fi'),
 (13, 'horror'),
 (14, 'adult'),
 (15, 'thriller'),
 (16, 'mystery'),
 (17, 'short'),
 (18, 'film-noir'),
 (19, 'drama'),
 (20, 'action'),
 (21, 'history'),
 (22, 'documentary'),
 (23, 'musical'),
 (24, 'adventure')]

### Q2.c (1 mark)

Print the number of movies present in the database.

In [55]:
co.execute('''SELECT COUNT(*) FROM movies''')
print(co.fetchall())

[(617,)]

### Q2.d (1 mark)

Print the number of male and female characters, and the number of characters for which a gender is not specified. _(Hint: the GROUP BY construct can be very useful here...)_

In [56]:
N = co.execute('''SELECT gender,COUNT(gender) FROM characters GROUP BY gender ''')
print('Gender\t','Count')
for i in N:
    print(i[0],'\t',i[1])

Gender	 Count
None 	 0
F 	 966
M 	 2049

## Q2.e (1 mark) 

Retrieve and print the titles of all the crime movies.

In [57]:
co.execute('''SELECT title FROM movies 
            INNER JOIN movie_genre_linking ON movie_genre_linking.movie_id = movies.movie_id
            WHERE movie_genre_linking.genre_id IN
            (SELECT genre_id FROM genres WHERE name ='crime')
            ''')
print(co.fetchall())

[('15 minutes',), ('48 hrs.',), ('8mm',), ('alien nation',), ('austin powers: international man of mystery',), ('backdraft',), ('bad lieutenant',), ('basic',), ('birthday girl',), ('black rain',), ('blue velvet',), ('the boondock saints',), ('bottle rocket',), ('confidence',), ('croupier',), ('dark angel',), ('from dusk till dawn',), ('get shorty',), ('the grifters',), ('innerspace',), ('intolerable cruelty',), ('jackie brown',), ('kalifornia',), ('kids',), ('léon',), ('the life of david gale',), ('minority report',), ('made',), ('man on fire',), ('metro',), ('mobsters',), ('nick of time',), ('no country for old men',), ('nurse betty',), ('o brother where art thou?',), ('rear window',), ('reindeer games',), ('reservoir dogs',), ('smokey and the bandit',), ("smokin' aces",), ('someone to watch over me',), ('strange days',), ('suspect zero',), ('the godfather',), ('the talented mr. ripley',), ('the crow: salvation',), ('thelma & louise',), ('thunderheart',), ('true believer',), ('wild at heart',), ('assassins',), ('badlands',), ('batman returns',), ('batman and robin',), ('batman forever',), ('batman',), ('beavis and butt-head do america',), ('the big lebowski',), ('the black dahlia',), ('book of shadows: blair witch 2',), ('blood simple.',), ('blow',), ('bones',), ('bound',), ('casino',), ('catwoman',), ('cellular',), ('chinatown',), ('a clockwork orange',), ('collateral',), ('conspiracy theory',), ('cool hand luke',), ('copycat',), ('crash',), ('crime spree',), ('the crow',), ('demolition man',), ('die hard',), ('dog day afternoon',), ('domino',), ('l.a. confidential',), ('entrapment',), ('face/off',), ('fargo',), ('fight club',), ('fletch',), ('the french connection',), ('frequency',), ('the getaway',), ('get carter',), ('the godfather: part ii',), ('gone in sixty seconds',), ('goodfellas',), ('grosse pointe blank',), ('hackers',), ('hannibal',), ('heathers',), ('heavenly creatures',), ('hostage',), ('hudson hawk',), ('insomnia',), ('the silence of the lambs',), ('lock stock and two smoking barrels',), ('manhunt',), ('manhunter',), ('memento',), ('miami vice',), ('midnight express',), ('"murderland"',), ('natural born killers',), ('the negotiator',), ('on the waterfront',), ('out of sight',), ('point break',), ('who framed roger rabbit',), ('ronin',), ('route 9',), ('rush hour 2',), ('rush hour',), ('the salton sea',), ('scream',), ('shallow grave',), ('sister act',), ('stranglehold',), ('sugar & spice',), ('the limey',), ("the man who wasn't there",), ('the x files',), ('the lost son',), ('the sting',), ('the thin man',), ('ticker',), ('trouble in paradise',), ('traffic',), ('trainspotting',), ('true romance',), ('u turn',), ('the usual suspects',), ('vertigo',), ('very bad things',), ('virtuosity',), ('wall street',), ('wild things',), ('watchmen',), ('xxx',)]

### Q2.f (1 mark)

Retrieve and print the total number of characters of action movies.

In [58]:
co.execute('''SELECT COUNT(character_id) FROM characters
          INNER JOIN movie_genre_linking ON movie_genre_linking.movie_id = characters.movie_id
          WHERE movie_genre_linking.genre_id IN
          (SELECT genre_id FROM genres WHERE name ='action')''')
print(co.fetchall())

[(2150,)]